{% include 'header.html.twig' %}
<div id="pageContainer">
    <h1>{{pageTitle}}</h1>
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    {% for post in postArray %}
    <div id="post">
        <h2>{{ post.getTitle() }} </h2>
        <img src="{{ post.getFilename() }}">
        {% if post.getVote() == -1 %}
        <button disabled>Minus</button>
        {% else %}
        <a href="minus/{{post.getId()}}">
        <button>Minus</button>
        </a>
        {% endif %}
        {% if post.getVote() == 1 %}
        <button disabled>Plus</button>
        {% else %}
        <a href="plus/{{post.getId()}}">
        <button>Plus</button>
        </a><br>
        Suma Głosów: {{post.getScore() }}
        {% endif %}        
        <h6>Autor: {{post.getAuthorName() }}</h6>
        <h6>Data dodania: {{ post.getTimestamp() }}</h6>
    </div>
    {% endfor %}
</div>

{% include 'footer.html.twig' %} 