{% include 'header.html.twig' %}
<div id="pageContainer">
    <h1>{{pageTitle}}</h1>
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    {% for post in postArray %}
    <div id="post">
        <h1>{{ post.getTitle() }}</h1>
        <img src="{{ post.getFilename() }}">
        <a href="index/plus/{{vote.getUserId()}}">PLUS</a>
        <a href="index/minus/{{vote.getUserId()}}">MINUS</a>
        <form action="" method="post">
            <h6>Total Votes: {{post.getScore() }}</h6>
        </form>
        <h6>Autor: {{post.getAuthorName() }}</h6>
        <h6>Data dodania: {{ post.getTimestamp() }}</h6>
    </div>
    {% endfor %}
</div>

{% include 'footer.html.twig' %} 